
<div class="container-fluid">
  <div class="row filter_form">
    <div class="col-md-12">
      <div class="tabbable" id="tabs-839710">  
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6"> 
              <div class="form list-form"><br>
                <h3><u>Add new category</u></h3><br>
                <form action="/categories" method="post">
                  <label for="category_name">Name</label>
                  <input type="text" name="category_name">
                  <input type="submit" class="btn btn-primary" value="Add !">
                </form>
                <% @categories.each do |category| %>
                <ul>
                  <li>
                  <div class="list-adjust">
                      <p><%= category.category_name %></p>
                    </div>
                    <div class="list-adjust">
                      <form action="/categories/<%= category.id %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this?')" >
                        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </form>
                    </div>
                  </li>
                </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>