<%# This page is not used %>
<div>
  <h2>Add new user</h2>
  <form action="/users" method="post">
    <label for="name">Name</label>
    <input type="text" name="name">
    
    <input type="submit" value="Add user!">
  </form>
</div>