
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="tabbable" id="tabs-839710">  
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6"> 
              <div class="form filter-form"><br>
                <h3><u>Account Summary</u><a href="/users/<%= @user.id %>/edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><br></h3>
                
                <h4>Name: <%= @user.name %></h4>
                <h4>Email: <%= @user.email %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>